---
import { Picture } from "@astrojs/image/components";
import heroImage from "assets/hero.png";
import locationicon from "assets/images/locationicon.svg";
import mailicon from "assets/images/mailicon.svg"
import phoneicon from "assets/images/phoneicon.svg"
import searchicon from "assets/images/searchicon.svg"
import facebookicon from "assets/images/facebookicon.svg"
import twittericon from "assets/images/twittericon.svg"
import googleicon from "assets/images/googleicon.svg"
import linkedinicon from "assets/images/linkedinicon.svg"
import pinterest from "assets/images/pinterest.svg"

const menuitems = [
  {
    title: "Features",
    path: "#",
    children: [
      { title: "Action", path: "/" },
      { title: "Another action", path: "#" },
      { title: "Dropdown Submenu", path: "#" },
      { title: "404 Page", path: "/404" },
    ],
  },
  {
    title: "Pricing",
    path: "/pricing",
  },
  {
    title: "About",
    path: "/about",
  },
  {
    title: "Blog",
    path: "/blog",
  },
  {
    title: "Contact",
    path: "/contact",
  },
  {
    title: "Pro Version",
    badge: true,
    path: "https://astroship-pro.web3templates.com/",
  },
];
 

import siteLogo from "assets/images/logo.png";

---

<div class="bg-[#7BBB49]">
  <div
    class="  px-6 py-2 md:flex md:items-center md:justify-between lg:pl-[5rem] lg:pr-[4.1rem]">
    <div
      class="md:order-1 md:mt-0 flex justify-center space-x-2 md:order-2 items-center relative">
       <a class="h-3 w-3"><span >
           <Picture
              src={locationicon}
              
              widths={[200, 400, 600]}
              loading="eager"
              format="avif"
            />
          
          </span></a>
      <span class="text-xs text-white"
        >Thiruvanmiyur, Near SRP Tools Signal</span
      >
      <div class="text-white text-5xl font-thin leading-3 max-md:hidden">/</div>
      <a href="#" class="h-4 w-4">
      <span >
           <Picture
              src={mailicon}
              
              widths={[200, 400, 600]}
              loading="eager"
              format="avif"
            />
          
      </a>
      <span class="text-xs text-white">hello@praniontech.com</span>
    </div>
    <div
      class="md:order-1 md:mt-0 flex justify-center space-x-3 md:order-2 items-center relative">
       <a class="h-3 w-3"><span >
           <Picture
              src={phoneicon}
              
              widths={[200, 400, 600]}
              loading="eager"
              format="avif"
            />
          
          </span></a>
      <span class="text-xs text-white">Phone Number: 044-9856988</span>
      <div class="text-white text-5xl font-thin leading-3 max-md:hidden">/</div>
      <a href="#" class="text-white hover:text-white">
        <span class="sr-only">Facebook</span>
        <Picture
              src={facebookicon}
              width="8px"
              widths={[200, 400, 600]}
              loading="eager"
              format="avif"
            />
          
      </a>
      <a href="#" class="text-white hover:text-white">
        <span class="sr-only">Twitter</span>
      <Picture
              src={twittericon}
              width="14px"
              widths={[200, 400, 600]}
              loading="eager"
              format="avif"
            />
          
      </a>
      <a href="#" class="text-white hover:text-white">
        <span class="sr-only">Google</span>
       <Picture
              src={googleicon}
              width="12px"
              widths={[200, 400, 600]}
              loading="eager"
              format="avif"
            />
          
      </a>
      <a href="#" class="text-white hover:text-white">
        <span class="sr-only">linkedin</span>
       <Picture
              src={linkedinicon}
              width="13px"
              widths={[200, 400, 600]}
              loading="eager"
              format="avif"
            />
          
      </a>
      <a href="#" class="text-white hover:text-white">
        <span class="sr-only">pinterest</span>
       <Picture
              src={pinterest}
              width="12px"
              widths={[200, 400, 600]}
              loading="eager"
              format="avif"
            />
          
      </a>
    </div>
  </div>
</div>



<header class="absolute inset-x-0 sticky z-50 top-[0] shadow-lg  bg-white">
  <nav class="flex items-center justify-between p-4 lg:px-8 mx-auto max-w-7xl " aria-label="Global">
      <div class="flex lg:flex-1">
          <a href="/" class="-m-1.5 p-1.5  h-[70px]">
              <span class="sr-only">Pranion</span>
              <!-- <img class="h-8 w-auto" src='./logo.png' alt="" /> -->
              <!-- <Image src={logo} alt="logo" /> -->
              <Picture
              src={siteLogo}
              alt="Pranion  Logo"
              widths={[200, 400, 600]}
              sizes="(max-width: 100px) 10vw, 350px"
              loading="eager"
              format="avif"
              width="290px"
              
            />
          </a>
      </div>
      <div class="flex lg:hidden z-50">
          <button type="button" name="menu" onclick="onToggleMenu(this)"
              class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700 menu-btn">
              <span class="sr-only">Open main menu</span>
              <svg class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                  aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round"
                      d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
              </svg>
          </button>
          <button type="button" name="close" onclick="onToggleMenu(this)"
              class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700 close-btn hidden">
              <span class="sr-only">Open main menu</span>
              <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                  aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
              </svg>
          </button>
      </div>
      <div
          class="nav-links lg:static absolute bg-white lg:min-h-fit left-0 lg:w-auto top-[-100vh] w-full flex px-5">

          <div
              class="lg:flex lg:flex-1 lg:justify-end lg:gap-x-6 flex lg:flex-row flex-col lg:items-center lg:gap-[4vw] gap-8 ms-8 mb-4">
              <a href="#" class="text-sm font-semibold leading-6 text-[#616161]">Home</a>
              <a href="#" class="text-sm font-semibold leading-6 text-[#616161]">Services</a>
              <a href="#" class="text-sm font-semibold leading-6 text-[#616161]">Work</a>
              <a href="#" class="text-sm font-semibold leading-6 text-[#616161]">Product</a>
               <a href="#" class="text-sm font-semibold leading-6 text-[#616161]">Blog</a>
              <a href="#" class="text-sm font-semibold leading-6 text-[#616161]">About</a>
              <span class="hidden text-[#939393] lg:flex">|</span>
             <Picture
              src={searchicon}
              alt="Pranion  Logo"
              widths={[200, 400, 600]}
              loading="eager"
              format="avif"
              width="16px"
            />
              <a href="#"
                  class="rounded-md bg-[#7BBB49] px-5 py-1 text-sm font-semibold text-white shadow-sm hover:bg-[#7BBB49] focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:[#7BBB49]">Contact</a>
          </div>
      </div>
  </nav>
</header>




